body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  /*margin: 0;*/
  padding: 20px;
}

body,
h1,
p {
  margin: 0;
}
body {
  padding: 20px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list a {
  text-decoration: none;
}

.accent {
  background-color: #000;
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.call-to-action-text {
  border-left: 3px solid #000;
  padding-left: 5px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(247, 193, 162, 0.7);
}

footer ul {
  margin: 0;
  display: flex;
  list-style: none;
}
footer a {
  padding: 5px;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .nav-list {
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  li {
    padding: 10px;
  }

  .cir {
    position: absolute;
    padding-right: 200px;
  }

  .one {
    background-color: rgba(247, 136, 167, 0.5);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0;
    margin: 0px;
    padding: 0px;
    top: 230px;
    right: 80px;
    z-index: 2;
  }
  .two {
    background-color: rgba(247, 193, 162, 0.8);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    top: 310px;
    right: 30px;
    z-index: 3;
  }
  .three {
    background-color: rgba(207, 130, 213, 0.6);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    top: 250px;
    right: 40px;
    z-index: 1;
  }
  .about-content {
    display: inline;
    text-align: left;
    width: 50%;
    padding-top: 10;
    padding-left: 1.5em;
    padding-right: 2em;
    float: left;
  }

  .about-circles {
    float: right;
  }
}
